input.inputSearch {
    margin-top: 10px;
    /*height: 30px; 
    width: 400px;*/
    font-size: 14px;
}

.input-group-addon {
    background-color: #f6f7f9;
    background-image: none;
    border: 0;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 0 16px 0 16px;
    position: absolute;
    right: 0;
    top: 0;
    width: 46px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 24px;
}

div.row {
    background-color: #3b5998;
    color : white;
}


input {
    color: black;
}

.bg-button {
     background-color: #3b5998;
}

div.border-left {
  border-left: thick solid #ff0000;
}

