<div class="row">
  <div class="col-sm-12" style="margin-left: 100px;">
    <div class="col-sm-1 text-right" style="padding-right: 0px;">
      <img src="f.png" alt="Mountain View" style="height: 20px; margin-top: 15px; cursor: pointer;">
    </div>
    <div class="col-sm-4">
      <input type="text" class="form-control inputSearch" placeholder="ค้นหาบุคคล สถานที่ และสิ่งต่างๆ" aria-describedby="basic-addon1">
      <span class="input-group-addon" id="basic-addon1" style="padding-top: 10px;">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
    </div>
    <div class="col-sm-4 text-center">
      <app-picture></app-picture>
      <app-fb-name [user]="userData" *ngFor="let userData of userArray"></app-fb-name>
      <button class="btn btn-secondary bg-button">หน้าหลัก</button>
      <i class="fa fa-user-plus left" aria-hidden="true"></i>
      <i class="fa fa-commenting left" aria-hidden="true"></i>
      <i class="fa fa-globe left" aria-hidden="true"></i>
      <i class="fa fa-question-circle left" aria-hidden="true"></i>
    </div>
  </div>
</div>