<app-header></app-header>
<div class="container">
  <div class="content">
    <div class="row" style="margin-top: 15px;">
      <div class="col-sm-3">
        <app-menu></app-menu>
      </div>
      <div class="col-sm-7">
        <app-content></app-content>

        <app-post *ngIf="statusService.isLogin"></app-post>
        
      </div>
      <div class="col-sm-2 text-center">
        <p><b>User Login</b></p>
        <input type="text" class="form-control" [(ngModel)]="username">
        <input type="password" class="form-control" [(ngModel)]="password">
        <button (click)="loginRequest(username, password)" style="margin-top: 10px;">Login</button>
      </div>
    </div>
  </div>
</div>

<!--<ul>
  <li *ngFor="let item of statusService.statusArray">
    {{ item.name }}
  </li>
</ul>-->


