
<h5>กิจกรรมที่เกิดขึ้นในสัปดาห์นี้</h5>
<table>
  <tr>
    <!--<img [src]="C:\Users\Cholatda\Desktop\MyApp\test-angular4\src\app\event\img\1.png" width="80" height="80">-->
    <td>ชื่อกิจกรรม
        <br />วันที่
        <br />จำนวนคนเข้าร่วม
    </td>
  </tr>
  <tr>
    <!--<img [src]="C:\Users\Cholatda\Desktop\MyApp\test-angular4\src\app\event\img\1.png" width="80" height="80">-->
    <td>ชื่อกิจกรรม
        <br />วันที่
        <br />จำนวนคนเข้าร่วม
    </td>
  </tr>
  <tr><a href="">สนใจเข้าร่วม</a>
      &nbsp;&nbsp;&nbsp;
      <a href="">จะเข้าร่วม</a></tr>
</table>

