/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body {
    background-color: #e9ebee;
}

h1{
      
    background-color: #3b5998;
}

body{
 background-color:#dfe3ee;
}

i.left {
    margin-left: 5px;
    cursor: pointer;
}

.btn-custom {
    border-radius: 1em;
    margin-top: 5px;
    background-color: #3b5998;
    color: #fff;
    font-size: 12px;
    outline: none;
}

.btn-custom:focus{
   outline:none;
}

button.btn {
    background-color: #eee;
    outline: none;
}

button.btn:focus{
   outline:none;
}
